* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #606060;
  margin: 0;
}

header {
  background-color: #ff3e3e;
  color: white;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
  position: relative;
}

.form {
  background: #900;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px red;
  width: 300px;
  margin: auto;
}

input {
  display: block;
  margin: 10px auto;
  padding: 8px;
  border: none;
  border-radius: 5px;
  width: 80%;
}
button {
  background: black;
  color: red;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
